.banner {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .banner-wrapper {
    max-width: 960px;
    padding: 40px 80px;

    @media screen and (max-width: 425px) {
      padding: 20px;
    }
  }

  .banner-title {
    padding: 140px 16px;
    > h1 {
      font-weight: 100;
      margin: 0;
      line-height: 1;
      font-size: 48px;

      @media screen and (max-width: 425px) {
        font-size: 28px;
      }
    }

    > h2 {
      margin: 0;
      line-height: 1;
      font-size: 68px;
      color: #f4214e;

      @media screen and (max-width: 425px) {
        font-size: 36px;
      }

      @media screen and (max-width: 375px) {
        font-size: 30px;
      }
    }
  }

  .banner-buttons {
    max-width: 660px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .banner-social-icon {
      margin: 0 28px;
      color: #B3B3B3;
      transition: color .1s ease-in;
      font-size: 28px;

      &:hover {
        color: #f4214e;
      }

      @media screen and (max-width: 425px) {
        margin: 0 12px;
      }
    }
  }

  .spiral {
    max-width: 1024px;
    position: absolute;
    top: -140px;
    right: -500px;
  }
}
